<div class="card card-local">
    <form id="FormLogin">
        <div class="mb-3">
            <img class="img-header-local-menu" src="assets/img/logo - PNG.png" alt="Logo">
            <h1>Menú</h1>
            <hr class="division">
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-primary-local" (click)="TicketsPendientes()">Tickets pendientes</button>
            
        </div>
        
        <div class="mb-3">
            <button type="submit" class="btn btn-primary-local" (click)="MisTickets()">Mis tickets</button>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary-local" (click)="BuscarTicket()">Tickets Archivados</button>
        </div>
        
    </form>
    </div>