<div id="BackgroundDiv">
    <nav id="mainNav" class="navbar navbar-expand-lg">
        <div class="container-fluid" id="BarraNavegacion">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header"><font color="white">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" id="btnMenu">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button></font>
                <a class="navbar-brand page-scroll" (click)="Inicio()" id="SivitelLetras">SIVITEL</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="MenuOpciones">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/menu">
                            Regresar
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" (click)="CerrarSesion()">
                            Cerrar Sesión
                        </a>

                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <div class="card">
        <div class="container">

            <div class="row ">
                <div class="col-12" id="titulo">
                    <h1 class=""> Nuevo ticket</h1>
                    <hr class="division">
                </div>

            </div>
            <div class="row ">
                <div class="col-6">
                    <label for="Nombre">Nombre de quien reporta:<font color="red">*</font></label>
                    <input type="text" class="form-control" id="Nombre" [(ngModel)]="nombre" name="nombre">
                </div>
                <div class="col-3">
                    <label for="Fecha1">Fecha emisión:</label>
                    <input type="text" class="form-control" id="Fecha1" readonly >
                </div>
                <div class="col-3">
                    <label for="Fecha2">Folio:</label>
                    <input type="text" class="form-control" id="folio" [(ngModel)]="folio" readonly >
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="empresa">Empresa:</label>
                    <input type="text" class="form-control" id="empresa" [(ngModel)]="empresa">
                </div>
                <div *ngIf="tipoUsuario==4" class="col-6">
                    <label for="Ubicicacion">Responsable:</label>
                    <select class="form-select" aria-label="Default select example" id="tipo" [(ngModel)]="responsable">
                        <option selected >Ninguno</option>
                        <option *ngFor="let usuario of soporteUsuarios"  value="{{usuario._id}}">{{usuario.nombre}}</option>
                        
                      </select>
                </div>
                <div  *ngIf="tipoUsuario!=4" class="col-6">
                    <label for="Ubicicacion">Ubicicación:<font color="red">*</font></label>
                    <input type="text" class="form-control" id="Ubicicacion" [(ngModel)]="ubicacion" name="ubicacion">
                </div>
                
                <div class="col-3">
                    <label for="tel">Telefono de contacto:</label>
                    <input type="text" class="form-control" id="tel" [(ngModel)]="telefono">
                </div>
            </div>
            <div class="row">
                <div class="col-12 form-floating ">

                    <textarea class="form-control textArea" placeholder="Leave a comment here"
                        id="floatingTextarea" [(ngModel)]="problema"></textarea>
                    <label for="floatingTextarea" class="labelTextArea">Problema<font color="red">*</font></label>

                </div>
            </div>
            <div class="row">
                <div class="col-12 form-floating ">

                    <textarea class="form-control textArea" placeholder="Leave a comment here"
                        id="floatingTextarea1" [(ngModel)]="comentarios"></textarea>
                    <label for="floatingTextarea1" class="labelTextArea">Comentarios</label>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-primary-local" (click)="CrearTicket()" id="BtnCrear">Crear</button>
                </div>
                
            </div>
        </div>
    </div>
</div>