.bg-secondary-local{
    background-color: rgba(120, 120, 120, 0.2);
}
.text-primary-local{
    color:#f9b233;
    
 }
hr{
    margin:30px auto;
    border-color:#f9b233;
    border-width:3px;
    max-width:50px;
    .light {
        border-color:#f9b233
    }
 }