<div class="back-section-header">
    <nav id="mainNav" class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="container-fluid adaptative">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/home">INICIO</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Calidad-de-energia#articulos">Calidad de Energía</a>
                    </li>
                    <li>
                        <a href="/home">Regresar</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="mini-padding text-center letra adaptative calidad">

    </div>

    <section class="letra mini-padding text-center" id="articulos">
      <div class="container">
            <div class="row text-center no-padding">
                    <h2>Calidad de energía</h2>
                    <hr>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/7 - E/img (1).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    TIERRAS FÍSICAS
                                </div>
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/7 - E/img (2).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    PARARRAYOS
                                </div>
                                <div class="project-category text-faded">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/7 - E/img (3).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    ACONDICIONADORES DE VOLTAJE
                                </div>
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/7 - E/img (4).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    AHORRADORES DE ENERGÍA
                                </div>
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/7 - E/img (5).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    INVERSORES
                                </div>
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/7 - E/img (6).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    UPS
                                </div>
                                <div class="project-category text-faded">

                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
    </section>

