<div class="back-section-header">
    <nav id="mainNav" class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="container-fluid adaptative">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/home">INICIO</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Control-de-acceso#personal">Personal</a>
                    </li>
                    <li>
                        <a href="/Control-de-acceso#vehicular">Vehicular</a>
                    </li>
                    <li>
                        <a href="/home">Regresar</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="mini-padding text-center letra adaptative ca">

    </div>

	<section class="letra mini-padding text-center" id="personal">
	  <div class="container">
    		<div class="row text-center no-padding">
				  	<h2>Personal</h2>
				  	<hr>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (12).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                PANEL DE CONTROL
	                            </div>
	                            <div class="project-category text-faded">

	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (3).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                BOTÓN DE SALIDA
	                            </div>
	                            <div class="project-category text-faded">
	                                Tipo hongo y sin contacto
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (4).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                CONTROLADORAS
	                            </div>
	                            <div class="project-category text-faded">
	                                Teclado numérico
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (7).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                HANDPUNCH
	                            </div>
	                            <div class="project-category text-faded">
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (11).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                LECTORAS
	                            </div>
	                            <div class="project-category text-faded">
	                                Proximidad
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (2).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                DETECTOR DE METAL
	                            </div>
	                            <div class="project-category text-faded">
	                                Arco
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (6).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                DETECTOR DE METAL
	                            </div>
	                            <div class="project-category text-faded">
	                                Escáner
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (13).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                REHILETE
	                            </div>
	                            <div class="project-category text-faded">
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (14).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                TORNIQUETE
	                            </div>
	                            <div class="project-category text-faded">
	                                Cuerpo completo
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (15).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                TORNIQUETE
	                            </div>
	                            <div class="project-category text-faded">
	                                Digicon
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (1).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                TORNIQUETE
	                            </div>
	                            <div class="project-category text-faded">
	                                Medio cuerpo
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (5).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                ELECTROIMANES
	                            </div>
	                            <div class="project-category text-faded">

	                            </div>
	                        </div>
	                    </div>
				  	</div>
				 </div>
			</div>
	</section>

	<section class="bg-secondary letra mini-padding" id="vehicular">
		<div class="container">
    		<div class="row text-center no-padding">
				  	<h2>Vehicular</h2>
				  	<hr>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (17).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                BARRERAS
	                            </div>
	                            <div class="project-category text-faded">
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (20).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                BRAZO
	                            </div>
	                            <div class="project-category text-faded">
	                            	Automatización de portones abatibles
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (21).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                MOTOR
	                            </div>
	                            <div class="project-category text-faded">
	                                Automatización de portones corredizos
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (22).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                PILONA
	                            </div>
	                            <div class="project-category text-faded">
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (19).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                FOTOCELDAS
	                            </div>
	                            <div class="project-category text-faded">
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				  	<div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/4 - CA/img (23).png" class="adaptative img-responsive" alt="">
					  	<div class="portfolio-box-caption">
	                        <div class="portfolio-box-caption-content">
	                            <div class="project-name">
	                                SENSOR DE MASAS
	                            </div>
	                            <div class="project-category text-faded">
	                            </div>
	                        </div>
	                    </div>
				  	</div>
				 </div>
			</div>
	</section>

