<section  id="products">
    <div id="contenido">
      <div class="row">
        <div class="col-lg-4 letra">
          <div class="header-content-inner">
            <img class="img-header" src="assets/img/logo - PNG.png" alt="Logo">
            <br>
            <h1 class="text-center">Sistemas de Vigilancia y Telecomunicaciones</h1>
            <hr class="primary">
            <p class="letra text-center">Expertos en integración de sistemas, calidad de energía, seguridad y
              telecomunicaciones.</p>
          </div>
        </div>
        <div class="col-lg-8 carousel slide no-padding" data-ride="carousel" id="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
            <li data-target="#carousel" data-slide-to="4"></li>
            <li data-target="#carousel" data-slide-to="5"></li>
            <li data-target="#carousel" data-slide-to="6"></li>
            <li data-target="#carousel" data-slide-to="7"></li>
            <li data-target="#carousel" data-slide-to="8"></li>
            <li data-target="#carousel" data-slide-to="9"></li>
          </ol>
  
          <div class="carousel-inner">
            <div class="item active">
              <a href="/cctv"><img src="assets/img/conocenos/image1.jpg"
                  class="adaptative"></a>
              <div class="carousel-caption">
                <a href="/cctv"><button class="btn btn-carousel">Ver
                    productos</button></a>
              </div>
            </div>
            <div class="item">
              <a href="/telefonia"><img src="assets/img/conocenos/image2.jpg"
                  class="adaptative"></a>
              <div class="carousel-caption">
                <a href="/telefonia"><button class="btn btn-carousel">Ver
                    productos</button></a>
              </div>
            </div>
            <div class="item">
              <a href="/Telecomunicaciones"><img src="assets/img/conocenos/image3.jpg"
                  class="adaptative"></a>
              <div class="carousel-caption">
                <a href="/Telecomunicaciones"><button class="btn btn-carousel">Ver productos</button></a>
              </div>
            </div>
            <div class="item">
              <a href="/Control-de-incendios"><img src="assets/img/conocenos/image4.jpg"
                  class="adaptative"></a>
              <div class="carousel-caption">
                <a href="/Control-de-incendios"><button class="btn btn-carousel">Ver
                    productos</button></a>
              </div>
            </div>
            <div class="item">
              <a href="/Control-de-acceso"><img src="assets/img/conocenos/image5.jpg"
                  class="adaptative"></a>
              <div class="carousel-caption">
                <a href="/Control-de-acceso"><button class="btn btn-carousel">Ver
                    productos</button></a>
              </div>
            </div>
            <div class="item">
              <a href="/Sonido"><img src="assets/img/conocenos/image6.jpg"
                  class="adaptative"></a>
              <div class="carousel-caption">
                <a href="/Sonido"><button class="btn btn-carousel">Ver
                    productos</button></a>
              </div>
            </div>
            <div class="item">
              <a href="/Calidad-de-energia'"><img src="assets/img/conocenos/image7.jpg"
                  class="adaptative"></a>
              <div class="carousel-caption">
                <a href="/Calidad-de-energia"><button class="btn btn-carousel">Ver
                    productos</button></a>
              </div>
            </div>
            <div class="item">
              <a href="/Fotovoltaicos"><img src="assets/img/conocenos/image8.jpg"
                  class="adaptative"></a>
              <div class="carousel-caption">
                <a href="/Fotovoltaicos"><button class="btn btn-carousel">Ver
                    productos</button></a>
              </div>
            </div>
            <div class="item">
              <a href="/Datacenter"><img src="assets/img/conocenos/image9.jpg"
                  class="adaptative"></a>
              <div class="carousel-caption">
                <a href="/Datacenter"><button class="btn btn-carousel">Ver
                    productos</button></a>
              </div>
            </div>
            <div class="item">
              <a href="/Smartfactory"><img src="assets/img/conocenos/image10.jpg"
                  class="adaptative"></a>
              <div class="carousel-caption">
                <a href="/Smartfactory"><button class="btn btn-carousel">Ver
                    productos</button></a>
              </div>
            </div>
          </div>
  
          <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
