<div class="row">
  <div class="col-4">
      <label for="Fecha2">Folio:</label>
      <input type="text" class="form-control" id="folio" [(ngModel)]="folio" readonly>
  </div>
  <div class="col-8 ">
      <label for="floatingTextarea" >Problema</label>
      <textarea class="form-control textArea" placeholder="" readonly id="floatingTextarea"
      [(ngModel)]="problema"></textarea>
  
  </div>
</div>
<div class="row" >
    <div class="col-12">
        <table class="table table-bordered table-striped mb-0" id="tablaReportes">
              <thead>
                <tr >
                  <th scope="col">Fecha</th>
                  <th scope="col">Reporte</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let reporte of reportesList">
                 
                  <td>{{reporte.fecha}}</td>
                  <td>{{reporte.reporte}}</td>
               
                </tr>
                
                
              </tbody>
            </table>
    </div>