<section class="" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify letra">
                <h2>¡BIENVENIDO!</h2>
                <br>
                <p>Somos una empresa comprometida en lograr la entera satisfacción de nuestros clientes,
                    con la evolución y demandas tecnológicas del mercado. Nos hemos preocupado por formarnos
                    como una empresa <b>integradora de sistemas</b>, brindando a nuestros clientes un solo punto de
                    contacto
                    para atender sus necesidades de <b>seguridad, telecomunicaciones y calidad de energía</b>.
                    Nos hemos certificado con las mejores marcas y con las asociaciones de mayor prestigio a nivel
                    internacional.</p>
            </div>
            <!--Aguascalientes-->
            <div class="col-lg-7 text-center ">
                <img src="assets/img/Sivitel Ags 3.jpg" class="img-responsive adaptative" alt="">
            </div>
            <!--Leon-->
            <div class="col-lg-5 text-center ">
                <img src="assets/img/Sivitel Leon 3.jpg" class="img-responsive1 adaptative" alt="">
            </div>
        </div>
        </div>
</section>