<div class="back-section-header">
    <nav id="mainNav" class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="container-fluid adaptative">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/home">INICIO</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Datacenter#articulos">Data center</a>
                    </li>
                    <li>
                        <a href="/Datacenter#Desarrollos">Desarrollos</a>
                    </li>

                    <li>
                        <a href="/home">Regresar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="mini-padding text-center letra adaptative datacenter">

    </div>

    <section class="letra mini-padding text-center" id="articulos">
      <div class="container">
            <div class="row text-center no-padding">
                    <h2>Datacenter</h2>
                    <hr>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/10 - DC/imagen (1).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    SERVIDORES DELL
                                </div>
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/10 - DC/imagen (2).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    STORAGE DELL EMC
                                </div>
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/10 - DC/imagen (3).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    BACKUP DELL EMC
                                </div>
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/10 - DC/imagen (4).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    AIRE DE PRECISIÓN
                                </div>
                                <div class="project-category text-faded">
                                    RITTAL
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
    </section>
    <section class="letra mini-padding text-center bg-secondary" >
      <div class="container">
            <div class="row text-center no-padding">
                    <h2>Seguridad</h2>
                    <hr>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/10 - DC/imagen (5).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    NETWORKING CORE
                                </div>
                                <div class="project-category text-faded">
                                    CISCO
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/10 - DC/imagen (6).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    NETWORKING ACCESS
                                </div>
                                <div class="project-category text-faded">
	                                CISCO CATALYST
	                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/10 - DC/imagen (7).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    NETWORKING ACCESS
                                </div>
                                <div class="project-category text-faded">
                                    CISCO MERAKI
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
    </section>
    <section class="letra mini-padding text-center" id="Desarrollos">
      <div class="container">
            <div class="row text-center no-padding">
                    <h2>Desarrollos</h2>
                    <hr>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/10 - DC/imagen (8).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    PHP
                                </div>
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/10 - DC/imagen (11).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    MongoDB<br>Express<br>ReactJS<br>NodeJS
                                </div>
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/10 - DC/imagen (10).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    MongoDB<br>Express<br>Angular<br>NodeJS
                                </div>
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 portfolio-box">
                        <img src="assets/img/10 - DC/imagen (12).png" class="adaptative img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Android
                                </div>
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
    </section>
