<section class="letra" id="contact">
    <!-- Aguascalientes -->
    <h2 class="section-heading text-center">¡Contáctenos!</h2><br>
    <br />
    <div class="container" style="background-color:rgba(230, 230, 230, 0.8)">
        <h3 class="text-center">Estamos a sus órdenes en:</h3>
        <div class="row">
            <h4 class="text-center"><b>Corporativo Aguascalientes</b></h4>
            <hr class="primary">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://www.google.com.mx/maps/place/SIVITEL+Sistemas+De+Vigilancia+Y+Telecomunicaciones+SA+de+CV/@21.8937357,-102.3379586,21z/data=!4m19!1m13!4m12!1m3!2m2!1d-102.3378204!2d21.8939631!1m6!1m2!1s0x8429eec9002e59a1:0xaeecc8b624971349!2sEl+Baj%C3%ADo+117,+20326+San+Ignacio,+Ags.!2m2!1d-102.3378196!2d21.8936482!3e3!3m4!1s0x8429ee5934658301:0xca505bd488bae8fb!8m2!3d21.8936695!4d-102.3377609"
                    target="_blank">
                    <p>El Bajío # 117 Col. San Ignacio, Ags. C. P. 20326.</p>
                </a>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <a href="tel:+524491466904"><i class="fa fa-phone fa-4x sr-contact"></i></a>
                <p>Llámenos 01 (449) 146 69 04</p>
            </div>
            <div class="col-lg-4 text-center">
                <a href="https://www.facebook.com/SIVITEL/" target="_blank"><i
                        class="fa fa-facebook-square fa-4x sr-contact"></i></a>
                <p>Síganos en facebook</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <a href="mailto:mercadeo@sivitel.com.mx"><i class="fa fa-envelope fa-4x sr-contact"></i></a>
                <p>mercadeo@sivitel.com.mx<br>Asesor de ventas</p>
            </div>
            <div class="col-lg-4 text-center">
                <a href="mailto:jajimenez@sivitel.com.mx"><i class="fa fa-envelope fa-4x sr-contact"></i></a>
                <p>jajimenez@sivitel.com.mx<br>Asesor de ventas</p>
            </div>
        </div>
        <div class="row">
            <h4 class="text-center"><b>Oficinas León</b></h4>
            <hr class="primary">
           
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <a href="tel:+524773915050"><i class="fa fa-phone fa-4x sr-contact"></i></a>
                    <p>Llámenos 01 (477) 391 50 50<br>LAE. Angeles Salgado</p>
                </div>
                <div class="col-lg-4 text-center">
                    <a href="tel:+524774904247"><i class="fa fa-phone fa-4x sr-contact"></i></a>
                    <p>Llámenos 01 (477) 490 42 47<br>Arq. Gerardo Jiménez</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <a href="mailto:masalgado@sivitel.com.mx"><i class="fa fa-envelope fa-4x sr-contact"></i></a>
                    <p>masalgado@sivitel.com.mx<br>Administración de proyectos</p> <!-- Puesto? -->
                </div>
                <div class="col-lg-4 text-center">
                    <a href="mailto:lgjimenez@sivitel.com.mx"><i class="fa fa-envelope fa-4x sr-contact"></i></a>
                    <p>lgjimenez@sivitel.com.mx<br>Gerente de sucursal</p>
                </div>
            </div>
        </div>
        </div>
</section>